<!--
                  style="background-color: #98FB98; border-width: 2px; border-color: #333;"
<div class="card" style="background-color: #98FB98; border-width: 2px; border-color: #333;">
    <div>
      <app-usuarios></app-usuarios>
    </div>
    <div class="panel-default">
      <app-comandos></app-comandos>
    </div>
</div>
-->

<div class="w-auto p3; container-fluid content-row" style="background-color: #98FB98; border-style: solid; border-width: 2px; border-color:#4CAF50;">
  <div class="row">
    <!--<td style="border-style: solid; border-width: 1px; border-color:#4CAF50;"> -->
    <td  style="border-style: solid; border-width: 1px; border-color:#4CAF50;">
        <div class="w-25 p-3">   <!-- <div class="col-sm-6"> -->
        <div class="card">
                <app-usuarios></app-usuarios>
        </div>
      </div>
    </td>
   <!--  <td style="border-style: solid; border-color:#4CAF50;padding:8px;">   -->
     <!--<td style="border-style: solid; border-width: 1px; border-color:#4CAF50;"> -->
       <td>
<!--      <div class="w-75 p-3">  -->
    <div class="w-75 p-3">
        <div class="card">
            
                <app-comandos></app-comandos>
            
        </div>
      </div>
    </td>
</div>
</div>
 